{% extends "base.html" %}

{% block title %}{{ store.name }} - {{ block.super }}{% endblock %}

{% block main_content %}
  <h2>{{ store.name }}</h2>
<p><strong>Localizaci&oacute;n:</strong> {{ store.location }}</p>
<p><strong>Empresa:</strong> {{ store.company }}</p>

{% endblock %}
