{% extends "base.html" %}

{% block title %}Eliminar Receta - {{ block.super }}{% endblock %}

{% block main_content %}
  <p>Estas seguro que quieres eliminar la receta '{{ recipe }}'</p>
  <form method="post" action="">
    {% csrf_token %}
    <input type="submit" value="Eliminar" /> | <a href="{% url 'accounts:recipes' %}">Cancelar</a>
  </form>

{% endblock %}
