{% extends "base.html" %}
{% load static %}

{% block title %}{{ ingredient.name }} - {{ block.super }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/ingredient.css' %}" type="text/css"/>
{% endblock %}

{% block main_content %}
  <h2>{{ingredient.name}}</h2>

<p><strong>Categor&iacute;a:</strong> {{ingredient.category}}</p>
{% if ingredient.image %}
  <p><img src="{{ingredient.image.url}}"></p>
{% endif %}

{% if ingredient_products %}
  <h3>Productos recomendados</h3>
  <ul>
    {% for product in ingredient_products %}
      <li><a href="{% url 'products:product' product.id %}">{{product}}</a></p>
    {% endfor %}
  </ul>
{% endif %}

<div id="nutritional-info">
  <h3>Informaci&oacute;n nutricional:</h3>
  <p><i>Valores por: {{ingredient.serving_size}} gramos.</i></p>
  <p class="first-level">Calor&iacute;as: {{ingredient.calories}}</p>
  <p class="second-level">Calor&iacute;as de grasas: {{ingredient.calories_from_fat}}</p>
  <hr/>
  <p class="first-level">Grasas: {{ingredient.total_fat}}</p>
  <p class="second-level">Saturadas: {{ingredient.saturated_fat}}</p>
  <p class="second-level">Trans: {{ingredient.trans_fat}}</p>
  <p class="second-level">Monoinsaturadas: {{ingredient.mono_fat}}</p>
  <p class="second-level">Poliinsaturados: {{ingredient.polin_fat}}</p>
  <hr/>
  <p class="first-level">Colesterol: {{ingredient.cholesterol}}</p>
  <hr/>
  <p class="first-level">Sales Minerales <i>(Percentuales basados en 2000 calor&iacute;as)</p>
  <p class="second-level">Sodio: {{ingredient.sodium}}</p>
  <p class="second-level">Calcio: {{ingredient.calcium}}</p>
  <p class="second-level">Potasio: {{ingredient.potassium}}</p>
  <p class="second-level">Hierro: {{ingredient.iron}}</p>
  <hr/>
  <p class="first-level">Hidratos de Carbono: {{ingredient.total_carbs}}</p>
  <p class="second-level">Fibra Alimentaria: {{ingredient.dietary_fiber}}</p>
  <p class="second-level">De az&uacute;cares: {{ingredient.sugars}}</p>
  <p class="second-level">De az&uacute;cares a&ntilde;adidos: {{ingredient.added_sugars}}</p>
  <hr/>
  <p class="first-level">Prote&iacute;nas: {{ingredient.protein}}</p>
  <hr/>
  <p class="first-level">Vitaminas: <i>(Percentuales basados en 2000 calor&iacute;as)</p>
  <p class="second-level">Vitamina A: {{ingredient.vitamin_a}}</p>
  <p class="second-level">Vitamina B16: {{ingredient.vitamin_b6}}</p>
  <p class="second-level">Vitamina B12: {{ingredient.vitamin_b12}}</p>
  <p class="second-level">Vitamina C: {{ingredient.vitamin_c}}</p>
  <p class="second-level">Vitamina D: {{ingredient.vitamin_d}}</p>
  <p class="second-level">Vitamina E: {{ingredient.vitamin_e}}</p>
</div>

{% endblock %}
