{% extends "base.html" %}

{% block title %}Planificaci&oacute;n - {{ block.super }}{% endblock %}

{% block main_content %}
  <h2>Planificaci&oacute;n</h2>
  <form method="post" action="">
    {% csrf_token %}
    {% include "recipes/meal_day_form.html" with form=today_meals_form %}
    {% include "recipes/meal_day_form.html" with form=tomorrow_meals_form %}
    <input type="submit" value="Aceptar" />
  </form>
{% endblock %}
