<div>
  <h4>{{ form.meal_type.value }}</h4>
  {{ form.meal_type.as_hidden }}
  <div>
    <label for="{{ form.first_course.id_for_label }}">Primer Plato:</label>{{ form.first_course }}
    <label for="{{ form.first_course_serves.id_for_label }}">Raciones:</label>{{ form.first_course_serves }}
  </div>
  <div>
    <label for="{{ form.second_course.id_for_label }}">Segundo Plato:</label>{{ form.second_course }}
    <label for="{{ form.second_course_serves.id_for_label }}">Raciones:</label>{{ form.second_course_serves }}
  </div>
</div>
