<p>Para cocinar la receta para  {{ serves }} raciones:</p>
{# <p>Se consumiran los siguientes productos de tu despensa.</p> #}
{# <p>Si no vas a utilizar un producto o vas a utilizar una cantidad diferente, puedes marcar-lo aqu&iacute;.</p> #}

<form method="post" action="">
  {% csrf_token %}

  {% if formset_delete %}
    {{ formset_delete.management_form }}
    {# ugly as hell: we use the post request to see if there was formset_delete #}
    <input type="hidden" name="formset_delete_flag" value="1" />
    {% for form in formset_delete %}
      <div>
	<span>
	  Necesitas: {{ form.recipe_ingredient.value.html_str }} |
	</span>
	<label for="{{ form.quantity.id_for_label }}">Utilizar:</label>{# {{ form.quantity }} #}
	<span>
	  {{ form.product.value.html_str }} | {{ form.use }}
	</span> 
	{{ form.quantity.as_hidden }}
	{{ form.pantry_product_id.as_hidden }}
	{{ form.needed.as_hidden }}
	{{ form.available.as_hidden }}
	{% for field in form %}
	  {{ field.errors }}
	{% endfor %}
      </div>
    {% endfor %}
  {% endif %}

  {% if formset_ask %}
    {# <hr /> #}
    {{ formset_ask.management_form }}
    {# json id matrix... really ugly #}
    <input type="hidden" name="json_id_matrix" value="{{ json_id_matrix }}" />
    {% for form in formset_ask %}
      <div>
	<span>
	  Necesitas: {{ form.recipe_ingredient.value.html_str }} |
	</span>
	<label for="{{ form.quantity.id_for_label }}">Utilizar: </label>
	<span>
	  {{ form.pantry_product }} | {{ form.use }}
	</span>
        {# {{ form.ingredient_quantity.as_hidden }} #}
	{# {{ form.ingredient_unit_id.as_hidden }} #}
	{{ form.recipe_ingredient_id.as_hidden }}
	{% for field in form %}
	  {{ field.errors }}
	{% endfor %}
      </div>
    {% endfor %}
  {% endif %}

  {% if list_missing %}
    <hr />
    <p>Parece que no dispone de ning&uacute;n producto para:</p>
    <ul>
      {% for ingredient_missing in list_missing %}
	<li>
	  {{ ingredient_missing.html_str }}
	</li>
	{% endfor %}  
    </ul>
  {% endif %}

  {% if list_assert %}
    <hr />
    <p>Se asumir&aacute; que usted dispone de:</p>
    <ul>
      {% for ingredient_to_assert in list_assert %}
	<li>
	  {{ ingredient_to_assert.html_str }}
	</li>
      {% endfor %}  
    </ul>
  {% endif %}

  <input type="submit" value="Siguiente" />
</form>

