<form method="post" action="">
  {% csrf_token %}
  <div>
    <div><label for="{{ form.name.id_for_label }}">Nombre:</label>{{ form.name }}</div>
    <div>
      <label for="{{ form.preparation_time.id_for_label }}">Tiempo de preparaci&oacute;n:</label>{{ form.preparation_time }}
      <label for="{{ form.cooking_time.id_for_label }}">Tiempo de preparaci&oacute;n:</label>{{ form.cooking_time }}
      <label for="{{ form.ready_in_time.id_for_label }}">Listo en:</label>{{ form.ready_in_time }}
    </div>
    <div><label for="{{ form.serves.id_for_label }}">Raciones:</label>{{ form.serves }}</div>
    <div><label for="{{ form.categories.id_for_label }}">Categor&iacute;as:</label>{{ form.categories }}</div>
  </div>

  <h4>Ingredientes</h4>
  {{ ingredient_formset.management_form }}
  <div>
    {% for ingredient_form in ingredient_formset %}
      {{ ingredient_form.id }}
      <div>
	<label for="{{ ingredient_form.quantity.id_for_label }}">Cantidad:</label>{{ ingredient_form.quantity }}
	<label for="{{ ingredient_form.unit.id_for_label }}">Unidad:</label>{{ ingredient_form.unit }}
	<label for="{{ ingredient_form.ingredient.id_for_label }}">Ingrediente:</label>{{ ingredient_form.ingredient }}
	Eliminar {{ ingredient_form.DELETE }}
      </div>
  {% endfor %}
  </div>

  <h4>Pasos</h4>
  {{ step_formset.management_form }}
  <div>
    {% for step_form in step_formset %}
      {{ step_form.id }}
      <div>
	<div><label for="{{ step_form.text.id_for_label }}">{{ forloop.counter }}.</label>{{ step_form.text }}</div>
	<div><label for="{{ step_form.image.id_for_label }}">Imagen (opcional):</label>{{ step_form.image }}</div>
	Eliminar {{ step_form.DELETE }}
      </div>
      {% endfor %}
  </div>

  <h4>Fotos Finales</h4>
  {{ image_formset.management_form }}
  <div>
    {% for image_form in image_formset %}
      {{ image_form.id }}
      <div>
	<label for="{{ image_form.image.id_for_label }}">Imagen (opcional):</label>{{ image_form.image }}
	Eliminar {{ image_form.DELETE }}
      </div>
    {% endfor %}
  </div>

  
  <input type="submit" value="Finalizar" />
</form>
