<form method="post" action="">
  {% csrf_token %}
  <label for="{{ form.recipe_category.id_for_label }}">Elige Categor&iacute;a:</label>{{ form.recipe_category }}
  <input type="submit" value="Filtrar" />
</form>
