{% extends "base.html" %}

{% block title %}{{ recipe.name }} - {{ block.super }}{% endblock %}

{% block main_content %}
  <h2>{{recipe.name}}</h2>

<p>Publicada por: <a href="{% url 'accounts:user_profile' recipe.author.id %}">{{recipe.author}}</a> el: {{recipe.pub_date}}</p>

{% if user.is_authenticated %}
  <p><a href="{% url 'recipes:perform_serves' recipe.id %}">Cocinar</a></p>
{% endif %}

{% for final_image in recipe.recipefinalimage_set.all %}
  <p><img src="{{final_image.image.url}}"></p>
{% endfor %}

<p>Listo en: {{recipe.ready_in_time}} minutos</p>
<p>Tiempo de preparaci&oacute;n: {{recipe.preparation_time}} minutos</p>
<p>Tiempo de cocci&oacute;n: {{recipe.cooking_time}} minutos</p>

<p>Raciones: {{recipe.serves}}</p>

<p><b>Categor&iacute;as:</b>
  {% for category in recipe.categories.all %}
    <a href="{% url 'recipes:category' category.id %}">{{category.name}}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>

<h3>Ingredientes</h3>
<ul>
  {% for ingredient in recipe.recipeingredient_set.all %}
    <li>{{ingredient.quantity}} {{ingredient.unit}} de <a href="{% url 'recipes:ingredient' ingredient.ingredient.id %}">{{ingredient.ingredient.name}}</a></li>
  {% endfor %}
</ul>

<h3>Instrucciones</h3>

{% for step in recipe.recipestep_set.all %}
  <p>{{forloop.counter}}. {{step.text}}</p>
  {% if step.image %}
    <p><img src="{{step.image.url}}"></p>
  {% endif %}
{% endfor %}

{% endblock %}
