<ul>
  {% if recommended %}
    {% for available, total, recipe in recipe_list %}
      <li>
	<a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.name}}</a>
	| Dispones de {{ available }} de {{ total }} de los ingredientes principales
	| <a href="{% url 'recipes:perform_serves' recipe.id %}">Cocinar</a>
      </li>
    {% endfor %}
  {% else %}
    {% for recipe in recipe_list %}
      <li>
	<a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.name}}</a>
	{% if user.is_authenticated %}
	  | <a href="{% url 'recipes:perform_serves' recipe.id %}">Cocinar</a>
	{% endif %}

	{% if owner %}
	  || <a href="{% url 'recipes:update' recipe.id %}">Editar</a> | <a href="{% url 'recipes:delete' recipe.id %}">Eliminar</a>
	{% endif %}
      </li>
    {% endfor %}
  {% endif %}
</ul>
