{% extends "base.html" %}

{% block title %}Planificaci&oacute;n - {{ block.super }}{% endblock %}

{% block main_content %}
  <h2>Planificaci&oacute;n</h2>
  <form method="post" action="">
    {% csrf_token %}
    <h3>{{ today }}</h3>
    {% include "recipes/meal_form.html" with form=today_lunch_form %}
    {% include "recipes/meal_form.html" with form=today_dinner_form %}
    <h3>{{ tomorrow }}</h3>
    {% include "recipes/meal_form.html" with form=tomorrow_lunch_form %}
    {% include "recipes/meal_form.html" with form=tomorrow_dinner_form %}
    <input type="submit" value="Aceptar" />
  </form>
{% endblock %}
