{% extends "base.html" %}

{% block title %}Inicio - {{ block.super }}{% endblock %}

{% block main_content %}
  <p>Bienvenido a Eficook</p>
  <p><a href="{% url 'recipes:recipes' %}">Ver Recetas</a></p>
{% endblock %}
