{% extends "base.html" %}

{% block title %}Iniciar Sessi&oacute;n - {{ block.super }}{% endblock %}

{% block user_bar %}

  {% if form.errors %}
    <p>Lo sentimos, usuario o contrase&ntilde;a incorrectos</p>
  {% endif %}

  <form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <label for="username-or-email">Nombre de Usuario o Email:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Contrase&ntilde;a:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

{% endblock %}
