{% extends "base.html" %}

{% block title %}Registro - {{ block.super }}{% endblock %}

{% block main_content %}

  <form action="" method="post">
    {% csrf_token %}
    <div>
      {{ user_form.non_field_errors }}
      <div>
	{{ user_form.email.errors }}
	<label for="{{ user_form.email.id_for_label }}">Email:</label>
	{{ user_form.email }}
      </div>
      <div>
	<label for="{{ user_form.first_name.id_for_label }}">Nombre:</label>
	{{ user_form.first_name }}
	<label for="{{ user_form.last_name.id_for_label }}">Apellido(s):</label>
	{{ user_form.last_name }}
      </div>
      <div>
	<label for="{{ user_form.password.id_for_label }}">Contrase&ntilde;a:</label>
	{{ user_form.password }}
      </div>
      <div>
	<label for="{{ user_form.confirm_password.id_for_label }}">Confirmar Contrase&ntilde;a:</label>
	{{ user_form.confirm_password }}
      </div>
    </div>
    <div>
      <div>
	<label for="{{ profile_form.gender.id_for_label }}">Sexo:</label>
	{{ profile_form.gender }}
      </div>
      <div>
	<label for="{{ profile_form.birthday.id_for_label }}">Fecha de Nacimiento:</label>{{ profile_form.birthday }}
      </div>
    </div>
    <input type="submit" value="Finalizar" />  
  </form>

{% endblock %}
