{% extends "base.html" %}

{% block title %}Preferencias de Recetas - {{ block.super }}{% endblock %}

{% block main_content %}

  <h2>Preferencias de Recetas</h2>

  <form method="post" action="">
    {% csrf_token %}
    {% for field in preferences_form %}
      <p>{{ field.label_tag }} {{ field }} {{ field.errors }}</p>
    {% endfor %}
    <p><input type="submit" value="Guardar cambios" /></p>
  </form>

{% endblock %}
