{% extends "base.html" %}

{% block title %}Mi Perfil - {{ block.super }}{% endblock %}

{% block main_content %}

  {# <h2>Compras Pendientes</h2> {% include "purchases/pending_purchases.html" %} #}

  <h2>Recetas Recomendadas | <a href="{% url 'recipes:recipes' %}">Ver todas</a></h2>
  {% if recommended_recipes %}
    {% include "recipes/recipe_list.html" with recipe_list=recommended_recipes recommended=True %}
  {% else %}
    <p>Ninguna receta cumple los criterios especificados en <a href="{% url 'accounts:preferences' %}">Preferencias</a>.</p>
  {% endif %}


  <h2>Despensa | <a href="{% url 'purchases:update_pantry' %}">Editar</a></h2>
  {% include "purchases/pantry_detail.html" %}

{% endblock %}
