<p>
  <a href="{% url 'accounts:home' %}">Inicio</a>
  |
  <a href="{% url 'recipes:recipes' %}">Recetas</a>
  |
  <a href="{% url 'accounts:grocery_list' %}">Lista de la Compra</a>
  |
  <a href="{% url 'accounts:purchases' %}">Compras</a>
  |
  <a href="{% url 'accounts:pantry' %}">Despensa</a>
  |
  <a href="{% url 'accounts:recipes' %}">Mis Recetas</a>  
  |
  <a href="{% url 'accounts:preferences' %}">Preferencias</a>  
  |
  <a href="{% url 'accounts:configuration' %}">Configuraci&oacute;n</a>  
</p>
