{% extends "base.html" %}

{% block title %}Mis Recetas - {{ block.super }}{% endblock %}

{% block main_content %}

  <h2>Mis Recetas | <a href="{% url 'recipes:create' %}">Nueva Receta</a></h2>
  
    {% include "recipes/recipe_list.html" with recipe_list=user_recipes owner=True %}

{% endblock %}
