{% extends "base.html" %}

{% block title %}Cambiar Contrase&ntilde;a - {{ block.super }}{% endblock %}

{% block main_content %}

  {# use PasswordChangeForm for users that registered through Sign Up form, use AdminPasswordChangeForm for users that used social sign up #}
  
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
      <p>{{ field.label_tag }} {{ field }} {{ field.errors }}</p>
    {% endfor %}
    <p><input type="submit" value="Guardar cambios" /></p>
  </form>

{% endblock %}
