{% extends "base.html" %}

{% block title %}Mis Compras - {{ block.super }}{% endblock %}

{% block main_content %}

  <h2>Mis Compras | <a href="{% url 'purchases:create_purchase' %}">Nueva Compra</a></h2>
  
  <h3>Compras Pendientes</h3>
  {% include "purchases/pending_purchases.html" %}

{% endblock %}
