{% extends "base.html" %}

{% block title %}Perfil de {{ user_profile }} - {{ block.super }}{% endblock %}

{% block main_content %}

<h2>Perfil de {{ user_profile }}</h2>

<h3>Recetas de {{ user_profile }}</h3>
  {% if user_recipes %}
    <ul>
      {% for recipe in user_recipes %}
	<li><a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.name}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>El usuario {{ user_profile }} no ha subido a&uacute;n ninguna receta.</p>
  {% endif %}


{% endblock %}
