{% block user_bar %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}

  {% if user.is_authenticated %}
    <p>Hola, <a href="{% url 'accounts:home' %}">{{ user.userprofile }}</a>. <a href="{% url 'accounts:logout' %}">Log out</a></p>
    {% include "accounts/user_menu.html" %}
  {% else %} 
    <p>No has iniciado sesi&oacute;n. <a href="{% url 'accounts:login' %}">Inicia sessi&oacute;n</a> o <a href="{% url 'accounts:register' %}">Reg&iacute;strate</a></p>
  {% endif %}

{% endblock %}
