{% extends "base.html" %}

{% block title %}Configuraci&oacute;n de la Cuenta - {{ block.super }}{% endblock %}

{% block main_content %}

  <h2>Configuraci&oacute;n de la Cuenta</h2>

  <form method="post" action="">
    {% csrf_token %}
    {% for field in data_form %}
      <p>{{ field.label_tag }} {{ field }} {{ field.errors }}</p>
    {% endfor %}
    {% for field in profile_form %}
      <p>{{ field.label_tag }} {{ field }} {{ field.errors }}</p>
    {% endfor %}
    <p><input type="submit" value="Guardar cambios" /></p>
  </form>
  
  <a href="{% url 'accounts:change_password' %}">Cambiar contrase&ntilde;a</a>

{% endblock %}
