<ul>
  {% for product in product_list %}
    <li>{{ product.quantity }} de <a href="{% url 'products:product' product.product.id %}">{{ product.product }}</a></li>
    {# <li>{{ product.html_string }}</li> #}
  {% endfor %}
</ul>
