{% extends "base.html" %}

{% block title %}Nueva Compra - {{ block.super }}{% endblock %}

{% block main_content %}

<h2>Nueva Compra</h2>

<form method="post" action="">
  {% csrf_token %}
  <label for="{{ form.date.id_for_label }}">Fecha:</label>{{ form.date }}{{ form.date.errors }}
  <label for="{{ form.store.id_for_label }}">Tienda:</label>{{ form.store }}{{ form.store.errors }}
  <input type="submit" value="Finalizar" />
</form>

{# {% include "purchases/purchase_form.html" %} #}

{% endblock %}
