{% extends "base.html" %}

{% block title %}Lista de la Compra - {{ block.super }}{% endblock %}

{% block main_content %}

  <h2>Lista de la Compra | <a href="{% url 'purchases:update_grocery_list' %}">Editar</a></h2>

  {% include "purchases/grocery_list_detail.html" %}

{% endblock %}
