<form method="post" action="">
  {% csrf_token %}
  {{ formset.management_form }}
    {% for form in formset %}
      {{ form.id }}
      <div>
	<label for="{{ form.quantity.id_for_label }}">Cantidad:</label>{{ form.quantity }}
	<label for="{{ form.product.id_for_label }}">Producto:</label>{{ form.product }}
	Eliminar {{ form.DELETE }}
      </div>
    {% endfor %}
    <input type="submit" value="Finalizar" />
</form>
