{% with grocery_list_products=grocery_list.grocerylistproduct_set.all %}
  {% if grocery_list_products %}
    {% include "purchases/base_product_list.html" with product_list=grocery_list_products %}
  {% else %}
    <p>Tu lista de la compra est&aacute; vac&iacute;a. <a href="{% url 'purchases:update_grocery_list' %}">A&ntilde;adir Productos</a></p>
  {% endif %}
{% endwith %}

