{% extends "base.html" %}

{% block title %}Despensa - {{ block.super }}{% endblock %}

{% block main_content %}

  <h2>Despensa | <a href="{% url 'purchases:update_pantry' %}">Editar</a></h2>
  
  {% include "purchases/pantry_detail.html" with pantry=user_pantry %}

{% endblock %}
