{% if pending_purchases %}
  {% for purchase in pending_purchases %}
    <div>
      <h4>{{ purchase }}</h4>
      {% include "purchases/purchase_detail.html" %}
    </div>
  {% endfor %}
{% else %}
<p>No tienes compras pendientes</p>  
{% endif %}
