{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Eficook{% endblock %}</title>
    {% block css %}
      <link rel="stylesheet" href={% static 'css/base.css' %} type="text/css"/>
    {% endblock %}
  </head>

  <body>
  {% block header %}
    <h1><a href="/">Eficook</a></h1>
  {% endblock %}

  {% block user_bar %}
    {% include "accounts/user_bar.html" %}
  {% endblock %}

  {% block main_content %}
	  
  {% endblock %}
  </body>
</html>
