{% extends "base.html" %}

{% block title %}{{ brand.name }} - {{ block.super }}{% endblock %}

{% block main_content %}
  <h2>{{ brand.name }}</h2>
<p>{{ brand.description }}</p>
{% if brand.image %}
  <p><img src="{{brand.image.url}}"></p>
{% endif %}

<h3>Productos:</h3>

<ul>
  {% for product in brand_products %}
    <li><a href="{% url 'products:product' product.id %}">{{product.name}}</a></li>
  {% endfor %}
</ul>

{% endblock %}
