{% extends "base.html" %}

{% block title %}{{ product }} - {{ block.super }}{% endblock %}

{% block main_content %}
  <h2>{{product}}</h2>

<p>Cantitad: {{ product.ingredient_quantity | floatformat }} {{ product.ingredient_unit }}</p>

{% if product.brand %}
  <p>Marca: <a href="{% url 'products:brand' product.brand.id %}">{{ product.brand }}</a></p>
{% endif %}

{% if product.image %}
  <p><img src="{{product.image.url}}"></p>
{% endif %}

{% endblock %}
